<h1>Room <%= @room.room_number %></h1>

<form action="/north">
<button id="north" value="north" type="submit" class="button">North</button>
</form>
<form action="/west">
  <button id="west" value="west" type="submit" class="button">West</button>
</form>
<form action="/south">
<button id="south" value="south" type="submit" class="button">South</button>
</form>
<form action="/east">
<button id="east" value="east" type="submit" class="button">East</button>
</form>
