<h1>Room 7</h1>

<form action="/seven/north">
<button id="north" value="north" type="submit" class="button">North</button>
</form>
<form action="/seven/west">
  <button id="west" value="west" type="submit" class="button">West</button>
</form>
<form action="/seven/south">
<button id="south" value="south" type="submit" class="button">South</button>
</form>
<form action="/seven/east">
<button id="east" value="east" type="submit" class="button">East</button>
</form>
